*{
  margin:0% ;
}
body{
    background-color: #979A9A ;
}
.base-color {
    background-color:  #AEB6BF  ;
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo {
    width:20%;
    height:70px;
    font-size: 30px;
    font-family:"Comic Sans MS";
    background-color: #566573 ;
    text-align: center;
    padding-top:10px;
    color: floralwhite;
    text-shadow: 3px 3px 2px darkblue ;
}

.navigation{
    display: flex;
    flex-wrap: wrap;
}

.hyper-links{
    width:100%;
    height:60px;
    font-size: 20px;
    font-family: Candara;
    color: floralwhite;
    display:flex;
    justify-content:space-between;
    list-style-type: none;
    line-height: 50px;
    padding-right: 10px;
    float:right;
}

a:link {
    text-decoration: none;
}


@media (max-device-width:450px) {

    .base-color{
        width:100%:
    }

    .logo{
        width:100%;
    }

    .navigation{
        width:100%;
    }

    .hyper-links{
        width:100%;
        height:auto;
        text-align:center;
        text-indent:425px;
        font-size: 20px;
        flex-direction: column ;

    }
    a:link {
        text-decoration: none;
    }

}
